<section>
    <div class="hero">
      <div class="hero-image"><img src="assets/img/power_tools_hero.png" alt="Image of homemade blueberry pie" i18n-alt="logo|log for app@@siteLogo"/></div>
    </div>
    <div class="logo-container">
      <img src="" alt="Logomark for Bethany's Pies" i18n-alt/>
    </div>

    <div class="focused-message">
      <h2 i18n="site description|a discrption about the site product line@@siteDescription">Tools for every occasion</h2>
      <p i18n>Visit our store or ship to your home</p>
    </div>
  </section>